

.valoracion{
    height: 20px;
}


.form{
    height: 300px;
}
.hover:hover,.box:hover{
    color: beige !important; 
}
.cards{
    margin-top: -200px;
}
.btn-warning:hover{
    background-color: beige;
}